docx==0.2.4
plotly==4.13.0
mplfinance==0.12.7a0
statsmodels==0.12.1
nba_api==1.1.9
streamlit==0.73.1
google_auth_oauthlib==0.4.1
reportlab==3.5.51
numpy==1.18.2
requests==2.22.0
selenium==3.141.0
matplotlib==3.3.0
pandas==1.0.3
beautifulsoup4==4.9.3
docx2pdf==0.1.7
google_api_python_client==1.12.8
Pillow==8.1.0
protobuf==3.14.0
